button {
    background-color:#3E608C; 
    border-color: #3E608C;
    color: white;
    font-weight: bold;
    margin-top: 3rem;
  }
  
  button:hover {
    background-color: #345073;
  }
  .form-label {
    font-size: 0.8rem; 
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 0.5px;
  }