<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible()"
    [style.backgroundColor]="toastType() === 'error' ? '#cf5148' : '#28a745'"
    [style.color]="'white'"
  >
    <c-toast-header>
     
      <span *ngIf="toastType() === 'success'">Succès</span>
      <span *ngIf="toastType() === 'error'">Erreur</span>
    </c-toast-header>
    <c-toast-body>
      <p>{{ toastMessage() }}</p>
      <c-progress thin [value]="percentage()" [color]="toastType() === 'error' ? 'warning' : 'success'"/>
    </c-toast-body>
  </c-toast>
</c-toaster>
<form #form = "ngForm" class="row g-3" (ngSubmit)="onSubmit(form)">
  
    <c-col [md]="6">
      <label for="medicamentName" class="form-label">Nom</label>
    <input id="medicamentName" 
           cFormControl 
           [(ngModel)]="medicament.nom" 
           name="nom" 
           class="form-control" 
           placeholder="Nom Du Médicament" 
           required 
           type="text"
           #nom="ngModel">
           <div *ngIf="nom.invalid && nom.touched" style="color: red; padding-left: 2%;">
            <small>* Le nom est requis.</small>
          </div>
    </c-col>
    
    <c-col [md]="6">
      <label for="medicamentcategorie" class="form-label">Catégorie</label>
    <select id="medicamentcategorie"
            cFormControl
            [(ngModel)]="medicament.categorieId"
            name="categorie"
            class="form-control" 
            required #categorie="ngModel">
      <option value="" disabled selected>Choisissez une catégorie</option>
      <option *ngFor="let categorie of categories" [value]="categorie.id" >
        {{ categorie.name }}
      </option>
    </select>
    <div *ngIf="categorie.invalid && categorie.touched" style="color: red; padding-left: 2%;">
      <small>* La catégorie est requise.</small>
    </div>
    </c-col>
    
    <c-col [md]="6">
      <label for="medicamentExpiration" class="form-label">Date d'Expiration</label>
    <input id="medicamentExpiration"
           cFormControl
           [(ngModel)]="medicament.date_Exp"
           name="date_Exp"
           class="form-control"
           placeholder="Expiration Date"
           required
           type="date" #dateExp="ngModel">
    <div *ngIf="isInvalidDate()" class="text-danger"></div>
    <div *ngIf="dateExp.invalid && dateExp.touched" style="color: red; padding-left: 2%;">
      <small>* La date d'expiration est requise.</small>
    </div>
    </c-col>
    
  

    <c-col [md]="6">
      <label for="medicamentStock" class="form-label">Stock</label>
    <input id="medicamentStock" 
           cFormControl
           [(ngModel)]="medicament.nbr_stock"
           name="nbr_stock"
           class="form-control"
           placeholder="Number of Stock"
           required
           type="number"
           min="1"  #stock="ngModel"> <!-- Ensures no negative values -->
    <div *ngIf="medicament.nbr_stock < 0" class="text-danger"></div>
    <div *ngIf="stock.invalid && stock.touched" style="color: red; padding-left: 2%;">
      <small>* Le nombre de stock est requis.</small>
    </div>
    </c-col>
    

    <c-col [md]="6">
      <label for="medicamentDescription" class="form-label">Description</label>
    <textarea id="medicamentDescription" 
              cFormControl 
              [(ngModel)]="medicament.description" 
              name="description" 
              class="form-control" 
              placeholder="Description" 
               
              rows="3"></textarea>
    </c-col>
    
    <c-col [md]="6">
      <label for="medicamentCompany" class="form-label">Fournisseur</label>
    <select id="medicamentCompany"
            cFormControl
            [(ngModel)]="medicament.fournisseurId"
            name="compagnie"
            class="form-control"
            required #fournisseur="ngModel">
      <option value="" disabled selected>Choisissez un fournisseur</option>
      <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">
        {{ fournisseur.nomF }}
      </option>
    </select>
    <div *ngIf="fournisseur.invalid && fournisseur.touched" style="color: red; padding-left: 2%;">
      <small>* Le nom du fournisseur est requis.</small>
    </div>
    </c-col>
    

  

  <!-- Submit Button -->
  
<c-col [xs]="12" class="text-center mt-4">
<button cButton type="submit" class="btn btn-primary px-4 py-2">Ajouter Médicament</button>
</c-col>
</form>