<!-- Form to edit fournisseur -->
<form class="row g-3" (submit)="onSubmit()">
  <c-col [md]="6">
    <label for="nom">Nom</label>
    <input type="text" id="nom" class="form-control" [(ngModel)]="fournisseur.nomF" name="nom" required>
  </c-col>

  <c-col [md]="6">
    <label for="adresse">Adresse</label>
    <input type="text" id="adresse" class="form-control" [(ngModel)]="fournisseur.adresse" name="adresse" required>
  </c-col>

  <c-col [md]="6">
    <label for="numTel">Téléphone</label>
    <input type="text" id="numTel" class="form-control" [(ngModel)]="fournisseur.numTel" name="numTel" required>
  </c-col>




  <c-col [xs]="12" class="text-center mt-4">
    <button cButton type="submit" class="btn btn-primary px-4 py-2">Enregistrer les modifications</button>
    </c-col>
</form>
