<div class="d-flex justify-content-between mb-3">
  
  <button cButton  [routerLink]="['/personnel/add-personnel-admin']" style="color: white; background-color: #dd789c; border-color: #dd789c;"
  onmouseover="this.style.backgroundColor='#b85f7c'; this.style.borderColor='#b85f7c';"
  onmouseout="this.style.backgroundColor='#dd789c'; this.style.borderColor='#dd789c';">
    <i class="fa-solid fa-user-tie me-2"></i> Ajouter Administratif
  </button>
  
  <button cButton [routerLink]="['/personnel/add-medecin']" style="color: white; background-color: #3E608C; border-color: #3E608C;"  onmouseover="this.style.backgroundColor='#345073'; this.style.borderColor='#345073';"
  onmouseout="this.style.backgroundColor='#3E608C'; this.style.borderColor='#3E608C';">
    <i class="fas fa-user-md me-2"></i> Ajouter Médecin
  </button>

  <button cButton  [routerLink]="['/personnel/add-pharmacien']" style="color: white; background-color: #854d82d6; border-color: #854d82d6;"  onmouseover="this.style.backgroundColor='#6b3d69d6'; this.style.borderColor='#6b3d69d6';"
  onmouseout="this.style.backgroundColor='#854d82d6'; this.style.borderColor='#854d82d6';" >
    <i class="fas fa-prescription-bottle-alt me-2"></i> Ajouter Pharmacien
  </button>
  
</div>

<div>
  <!--div class="d-flex justify-content-start mb-3">
    <!-- Filtre par type -->
    <!--select cSelect [(ngModel)]="selectedType__2" (change)="filterPersonnel()" class="me-3">
      <option value="">Tous</option>
      <option *ngFor="let type of types" [value]="type.value">{{ type.label }}</option>
      
    </select-->

  
    <!-- Filtre par service (visible seulement si Médecin est sélectionné) -->
    <!--select cSelect *ngIf="selectedType__2 === '1'" [(ngModel)]="selectedService" (change)="filterPersonnel()">
      <option value="">Tous les spécialités</option>
      <option *ngFor="let service of services" [value]="service">{{ service }}</option>
    </select>
  </div-->
 
</div>
<div id="filtre" class="d-flex justify-content-start mb-3" >
    <!-- Filtre par type -->
  <label style="font-size: 17px;">Filtrer par Poste :</label>
    
  
    <c-dropdown direction="center" class="me-3 drop_filtre">
      <button cButton cDropdownToggle  variant="outline" style="border-color: #3E608C; border-width: 1px;" >
        {{ getTypeLabel_2(selectedType__2) || 'Tous' }}
      </button>
      <ul cDropdownMenu>
        <li>
          <button cButton cDropdownItem (click)="selectType('')" variant="outline" style="border-color: #3E608C; border-width: 1px;">Tous</button>
        </li>
        <li *ngFor="let type of types">
          <button cButton cDropdownItem (click)="selectType(type.value)" variant="outline" style="border-color: #3E608C; border-width: 1px;">
            {{ type.label }}
          </button>
        </li>
      </ul>
    </c-dropdown>

    <!-- Filtre par service (visible seulement si Médecin est sélectionné) -->
    <c-dropdown *ngIf="selectedType__2 === '1'" direction="center" class="filtre_spec">
      <button cButton cDropdownToggle variant="outline" style="border-color: #3E608C; border-width: 1px;">
        {{ selectedService || 'Toutes les spécialités' }}
      </button>
      <ul cDropdownMenu>
        <li>
          <button cButton cDropdownItem (click)="selectService('')" variant="outline" style="border-color: #3E608C; border-width: 1px;">
            Toutes les spécialités
          </button>
        </li>
        <li *ngFor="let service of services">
          <button  cButton cDropdownItem (click)="selectService(service)" variant="outline" style="border-color: #3E608C; border-width: 1px;">
            {{ service }}
          </button>
        </li>
      </ul>
    </c-dropdown>
  </div>
<table class="custom-table">
  
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Poste</th>
      <!--th>Date Naissance</th>
      <th>Date Embauche</th-->
      <th>Salaire</th>
      <th>Téléphone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let personnel of filteredPersonnel; let i = index">
      <tr>
        <td>{{ personnel.nom }}</td>
        <td>{{ personnel.prenom }}</td>
        <td>{{ personnel.email }}</td>
        <td class="type-badge">
          <i [ngClass]="getTypeIcon(personnel.type)"></i>
          {{ getTypeLabel(personnel.type) }}
        </td>
        <!--td>{{ personnel.date_Naiss }}</td>
        <td>{{ personnel.date_Emb }}</td-->
        <td>{{ personnel.salaire }}</td>
        <td>{{ personnel.telephone }}</td>
        
        <td>
          <!-- New Button Using cButton -->
          <button (click)="toggleCollapse(i)" cButton class="me-1" class="bouton-affich">
            <i [ngClass]="visible(i) ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
          </button>
        </td>
      </tr>
      <!-- Details Row Using cCollapse and c-card -->
      <!--tr-->
        
          
        <td colspan="7">
          <div [visible]="visible(i)" cCollapse style="width: 700%; height: 100%;">
            <div class="card-body" style="height: 100%;">
                 <strong>Informations Complémentaires :</strong>
              <div class="liste_bouton">
              <div class="liste">
                    <ul cListGroup flush *ngIf="personnel.type === 1">
                      <li cListGroupItem *ngIf="'service' in personnel">
                        <i class="fa-solid fa-square-plus me-2"></i>
                    <b>Spécialité : &nbsp;</b>  {{ personnel.service || 'Non disponible' }}
                      </li>
                      <li cListGroupItem *ngIf="'grad_med' in personnel">
                      <i class="fas fa-stethoscope me-2"></i>
                    <b> Grade : &nbsp;</b> {{ personnel.grad_med || 'Non spécifié' }}
                      </li> 
                    </ul>
                    <ul cListGroup flush>
                      <li cListGroupItem >
                        <i class="fas fa-calendar-day me-2"></i>
                        <b> Date De Naissance : &nbsp;</b> {{ personnel.date_Naiss || 'Non spécifié' }}
                      </li> 
                      <li cListGroupItem >
                        <i class="fa-solid fa-calendar-check me-2"></i>
                        <b> Date D'Embauche :&nbsp; </b> {{ personnel.date_Emb || 'Non spécifié' }}
                      </li> 
                    </ul>
                    <ul cListGroup flush>
                        <li cListGroupItem >
                            <i class="fa-solid fa-location-dot me-2"></i>
                            <b>Adresse : &nbsp;</b>  {{ personnel.adresse || 'Non disponible' }}
                        </li>
                        <li cListGroupItem >
                          <i class="fas fa-id-badge me-2"></i>
                          <b> Statut :&nbsp; </b> {{ personnel.statut || 'Non spécifié' }}
                        </li> 
                    </ul>
                  </div>

                  <div class="mt-2" >
                      <button cButton class="btn-action-1 me-1" style="background-color:  #c1cce6 ; border-color:  #c1cce6 ; color: black;" [routerLink]="getUpdateRoute(personnel.id, personnel.type)">
                        <i class="fas fa-edit"></i></button> <br>
                      <button cButton class="btn-action-2 me-1" style="background-color: rgb(196, 57, 57); border-color: rgb(196, 57, 57);margin-top: 20px;" (click)="openDeleteModal(personnel.id, personnel.type)">
                        <i class="fas fa-trash"></i></button>
                  </div> 
              </div>
            
            
            </div>
          </div>
        </td>
      <!--/tr-->
    </ng-container>
  </tbody>
  
</table>

<c-modal id="deleteModal" [visible]="visible_modal" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Confirmation de suppression</h5>
    <button (click)="closeModal()" cButtonClose></button>
  </c-modal-header>
  
  <c-modal-body>Êtes-vous sûr de vouloir supprimer ce personnel ?</c-modal-body>

  <c-modal-footer>
    <button (click)="closeModal()" cButton color="secondary">
      Annuler
    </button>
    <button (click)="confirmDelete()" cButton color="danger" style="background-color: rgb(196, 57, 57); color: white;">
      Supprimer
    </button>
  </c-modal-footer>
</c-modal>
<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="visible_toast()"
           [style.backgroundColor]="toastType() === 'error' ? '#cf5148' : '#28a745'"
           [style.color]="'white'">
    <c-toast-header>
      <span *ngIf="toastType() === 'success'">Succès</span>
      <span *ngIf="toastType() === 'error'">Erreur</span>
    </c-toast-header>
    <c-toast-body>
      <p>{{ toastMessage() }}</p>
      <c-progress thin [value]="percentage()" [color]="toastType() === 'error' ? 'warning' : 'success'"/>
    </c-toast-body>
  </c-toast>
</c-toaster>