<form #form="ngForm" (ngSubmit)="onSubmit(form)" cForm class="row g-4">
  <!-- Patient Selection -->
  <h4>Patient</h4>
  <hr>
  <c-col [md]="6">
    <label cLabel for="patientEmail">Email du Patient</label>
    <select cFormControl id="patientEmail" [(ngModel)]="prescription.patientId" name="patientId" cSelect required>
      <option value="">Choisissez...</option>
      <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.email }}</option>
    </select>
  </c-col>
  <h4>Médicament</h4>
  <hr>
  <!-- Medications List -->
  <ng-container *ngFor="let med of medications; let i = index">
    <div class="row g-4">
      <c-col [md]="6">
        <label cLabel for="medication-{{i}}">Nom du Médicament</label>
        <input cFormControl id="medication-{{i}}" type="text" [(ngModel)]="med.nom" name="nom-{{i}}" class="form-control"/>
      </c-col>
      <c-col [md]="6">
        <label cLabel for="dosage-{{i}}">Dosage</label>
        <input cFormControl id="dosage-{{i}}" type="text" [(ngModel)]="med.dosage" name="dosage-{{i}}" class="form-control"/>
      </c-col>
      <c-col [md]="6">
        <label cLabel for="frequency-{{i}}">Fréquence</label>
        <input cFormControl id="frequency-{{i}}" type="text" [(ngModel)]="med.frequence" name="frequence-{{i}}" class="form-control"/>
      </c-col>
      <c-col [md]="6">
        <label cLabel for="duree-{{i}}">Durée</label>
        <input cFormControl id="duree-{{i}}" type="text" [(ngModel)]="med.duree" name="duree-{{i}}" class="form-control"/>
      </c-col>
      <c-col [md]="6">
        <label cLabel for="voie-{{i}}">Voie d'Administration</label>
        <select cFormControl id="voie-{{i}}" [(ngModel)]="med.voieAdministration" name="voie-{{i}}" cSelect>
          <option value="">Choisissez...</option>
          <option value="Orale">Orale</option>
          <option value="Intraveineuse">Intraveineuse</option>
          <option value="Intramusculaire">Intramusculaire</option>
          <option value="Sous-cutanée">Sous-cutanée</option>
          <option value="Inhalation">Inhalation</option>
          <option value="Rectale">Rectale</option>
          <option value="Topique">Topique</option>
          <option value="Sublinguale">Sublinguale</option>
        </select>
      </c-col>
      <c-col [md]="6">
        <label cLabel for="instructions-{{i}}">Instructions Spéciales</label>
        <input cFormControl id="instructions-{{i}}" type="text" [(ngModel)]="med.InstructionsSpeciales" name="instructions-{{i}}" class="form-control"/>
      </c-col>
      <c-col [md]="12">
        <button cButton type="button" (click)="removeMedication(i)" class="btn btn-secondary px-4 py-2 gap-2">
          <i class="bi bi-trash"></i> Supprimer Médicament
        </button>
      </c-col>
    </div>
  </ng-container>

  <!-- Add Medication Button -->
  <c-col [md]="12" class="mt-3">
    <button cButton type="button" (click)="addMedication()" class="btn btn-secondary px-4 py-2 gap-2">
      <i class="bi bi-plus-circle"></i> Ajouter Médicament
    </button>
  </c-col>


  <h4>Autre</h4>
  <hr>
  <!-- Note Section -->
  <c-col [md]="6">
    <label cLabel for="note">Note</label>
    <input cFormControl id="note" type="text" [(ngModel)]="prescription.note" class="form-control" name="note"/>
  </c-col>

  <c-col [xs]="12" class="text-center mt-4">
    <button cButton type="submit" class="btn btn-primary px-4 py-2">Enregistrer la Prescription</button>
  </c-col>
</form>

<c-toaster [placement]="position" class="p-3" position="fixed">
    <c-toast (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="visible()"
             [style.backgroundColor]="toastType() === 'error' ? '#cf5148' : '#28a745'"
             [style.color]="'white'">
      <c-toast-header>
        <span *ngIf="toastType() === 'success'">Succès</span>
        <span *ngIf="toastType() === 'error'">Erreur</span>
      </c-toast-header>
      <c-toast-body>
        <p>{{ toastMessage() }}</p>
        <c-progress thin [value]="percentage()" [color]="toastType() === 'error' ? 'warning' : 'success'"/>
      </c-toast-body>
    </c-toast>
  </c-toaster>
  

  
  