<c-card>
    
    <c-card-body>
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </c-card-body>
  </c-card>
  <c-modal id="deleteModal" [visible]="visible_modal" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Confirmation d'annulation</h5>
      <button (click)="closeModal()" cButtonClose></button>
    </c-modal-header>
    
    <c-modal-body>Êtes-vous sûr de vouloir annuler ce rendez-vous ?</c-modal-body>
  
    <c-modal-footer>
      <button (click)="closeModal()" cButton color="secondary">
        Annuler
      </button>
      <button (click)="confirmDelete()" cButton color="danger" style="background-color: rgb(196, 57, 57); color: white;">
        Confirmer
      </button>
    </c-modal-footer>
  </c-modal>

  <c-toaster [placement]="position" class="p-3" position="fixed">
    <c-toast
      (timer)="onTimerChange($event)"
      (visibleChange)="onVisibleChange($event)"
      [visible]="visible()"
      [style.backgroundColor]="toastType() === 'error' ? '#cf5148' : '#28a745'"
      [style.color]="'white'"
    >
      <c-toast-header>
        <span *ngIf="toastType() === 'success'">Succès</span>
        <span *ngIf="toastType() === 'error'">Erreur</span>
      </c-toast-header>
      <c-toast-body>
        <p>{{ toastMessage() }}</p>
        <c-progress thin [value]="percentage()" [color]="toastType() === 'error' ? 'warning' : 'success'"/>
      </c-toast-body>
    </c-toast>
  </c-toaster>