<table cTable class="table table-bordered table-hover text-center">
    <thead>
      <tr>
        <th scope="col">Nom Patient</th>
        <th scope="col">Prénom Patient</th>
        <th scope="col">Date Naissance</th>
        <th scope="col">Numéro de Chambre</th>
        <th scope="col">Date d'Admission</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admission of admissions; let i = index">
        <td>{{ admission.nom }}</td>
        <td>{{ admission.prenom }}</td>
        <td>{{ admission.date_Naiss | date: 'dd/MM/yyyy' }}</td>
        <td>{{ admission.numeroChambre }}</td>
        <td>{{ admission.dateAdmission | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn btn-danger" (click)="confirmerSortie(admission)" cButton>
            <i class="bi bi-person-x"></i> Sortie
          </button>
        </td>
      </tr>
    </tbody>
  </table>
   
  <c-modal  id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Confirmation de sortie</h5>
    <button (click)="toggleLiveDemo()" cButtonClose ></button>
  </c-modal-header>
  <c-modal-body>
    Êtes-vous sûr de vouloir confirmer la sortie du patient ?
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="secondary" (click)="toggleLiveDemo()">Annuler</button>
    <button cButton color="primary" (click)="sortirPatient()">Confirmer</button>
  </c-modal-footer>
</c-modal>
