<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <div *ngIf="errorMessage" class="w-100" style="position: absolute; top: 20px; left: 0; z-index: 9999;">
    <c-alert color="danger" class="d-flex align-items-center justify-content-center mx-auto" style="width: 30%;">
      <!--c-icon [icon]="icons.cilWarning" class="me-2" style="width: 24px; height: 24px;"></c-icon-->
      <i class="fa-solid fa-triangle-exclamation fa-xl me-2" style="width: 24px; height: 3px;"></i>
      <div>{{ errorMessage }}</div>
    </c-alert>
  </div>  
  <c-container breakpoint="xl">
    <c-row class="justify-content-center">
      <c-col lg="12" xl="8" style="width: 80%;">
        <c-card-group>
          <c-card class="p-4 text-white" style="height: 450px; background-color:#c7d5ea ;" >
            <c-card-body class="" >
              <form cForm #form="ngForm" (ngSubmit)="onSubmit(form)">
                <h1 style="margin-top:7% ; color: #3E608C;">Se Connecter</h1>
                <p class="" style="margin-top:2%;color: #3E608C;">Se connecter à votre compte</p>
                <c-input-group class="mb-3" style="margin-top: 10%;">
                  <span cInputGroupText style="background-color:#6387c0 ;">
                    <svg cIcon name="cil-envelope-closed" style="color:white ;"></svg>
                  </span>
                  <input
                    autoComplete="email"
                    cFormControl
                    placeholder="Adresse e-mail"
                    [(ngModel)]="loginData.email"
                    name="email"
                    required
                  />
                </c-input-group>
                <c-input-group class="mb-4"  style="margin-top: 6%;">
                  <span cInputGroupText style="background-color:#6387c0 ;">
                    <svg cIcon name="cilLockLocked" style="color:white ;"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Mot De Passe"
                    [(ngModel)]="loginData.password"
                    name="password"
                    type="password"
                    required
                    class="form-control"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6" style="margin-top: 2%;">
                    <button cButton class="px-4" type="submit" style="background-color:#6387c0 ; border-color: #6387c0;">
                      Se Connecter
                    </button>
                  </c-col>
                  <!--c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col-->
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'minWidth.%': 44}" class="text-white py-5">
            <!--c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body-->
            <img cImg  src="../../../../assets/images/logo_smartCare_sansbg.png" alt="" height="300" >
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>