<style>
  .custom-btn {
  background-color: #6387c0 !important;
  color: white !important;
  border-color: #6387c0 !important;
}


</style>
<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible()"
    [style.backgroundColor]="toastType() === 'error' ? '#cf5148' : '#28a745'"
    [style.color]="'white'"
  >
    <c-toast-header>
     
      <span *ngIf="toastType() === 'success'">Succès</span>
      <span *ngIf="toastType() === 'error'">Erreur</span>
    </c-toast-header>
    <c-toast-body>
      <p>{{ toastMessage() }}</p>
      <c-progress thin [value]="percentage()" [color]="toastType() === 'error' ? 'warning' : 'success'"/>
    </c-toast-body>
  </c-toast>
</c-toaster>
<!-- Delete Confirmation Modal -->
<c-modal id="deleteModal" [visible]="visible_modal" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Confirmation de suppression</h5>
    <button (click)="closeModal()" cButtonClose></button>
  </c-modal-header>
  
  <c-modal-body>Êtes-vous sûr de vouloir supprimer ce médicament ?</c-modal-body>

  <c-modal-footer>
    <button (click)="closeModal()" cButton color="secondary">
      Annuler
    </button>
    <button (click)="confirmDelete()" cButton color="danger" style="background-color: rgb(196, 57, 57); color: white;">
      Supprimer
    </button>
  </c-modal-footer>
</c-modal>


<c-smart-table
  [activePage]="1"
  [columnSorter]="true"
  [columns]="columns"
  [columnFilter]="true"
  [items]="medicamentsData"
  [sorterValue]="{ column: 'nom', state: 'asc' }"
  [tableFilter]="true"
  [tableProps]="{ hover: true, striped: true, responsive: true }"
  [tableBodyProps]="{ align: 'middle' }"
  noItemsLabel=" Aucun médicament trouvé"
  tableFilterLabel = "filtrer"
  tableFilterPlaceholder="Entrer Lettre"
  cleaner
  clickableRows
  header
  pagination
>

  <ng-template cTemplateId="tableDetails" let-item="item">
    <div>
      <div [visible]="details_visible[item.id] === true" cCollapse>
        <div>
          <div style="display: flex; align-items: center;">
            <h6 style="margin: 0 5px 0 0;">Description:</h6>
            <p class="text-muted" style="margin: 0;">{{ item.description }}</p>
          </div>
        
          <div style="display: flex; align-items: center;">
            <h6 style="margin: 0 5px 0 0;">Fournisseur:</h6>
            <p class="text-muted" style="margin: 0;">{{ item.fournisseur?.nomF }}</p>
          </div>
        
          <div style="display: flex; align-items: center;">
            <h6 style="margin: 0 5px 0 0;">Catégorie:</h6>
            <p class="text-muted" style="margin: 0;">{{ item.categorie?.name }}</p>
          </div>
        </div>
        
      </div>
    </div>
  </ng-template>

  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
    <td>
      @switch (columnName) {
        @case ('nbr_stock') {
          <form>
            <div class="mb-3">
              <input 
                id="medicamentStock_{{item.id}}" 
                cFormControl 
                [(ngModel)]="item.nbrStock" 
                name="nbrStock_{{item.id}}" 
                ngModelOptions="{standalone: true}"    
                class="form-control" 
                placeholder="{{item.nbr_stock}}" 
                required 
                type="number"
                (blur)="updateStock(item, $event.target.value)">            </div>
          </form>
        }


        @case ('show') {
          <button (click)="toggleDetails(item)" cButton class="custom-btn" size="sm" variant="outline">
            Détails
          </button>
        }
        @case ('delete'){
          <button style="background-color: rgb(196, 57, 57); border-color: rgb(196, 57, 57);" cButton class="ms-1"  size="sm" (click)="openDeleteModal(item.id)">
            Supprimer
          </button>
        }
        @default {
          {{ tdContent }}
        }
      }
    </td>
  </ng-template>
  
  
  
</c-smart-table>


