<style>
  .custom-btn {
  background-color: #6387c0 !important;
  color: white !important;
  border-color: #6387c0 !important;
}
/*
.modal-content {
  max-width: 600px; /* Set a maximum width for the form 
  margin: 0 auto; /* Center the content horizontally 
}

.modal-body {
  display: flex;
  justify-content: center; /* Center the form horizontally 
  align-items: center; /* Center the form vertically 
  min-height: 50vh; /* Ensure there's enough space for vertical centering 
}*/

</style>
<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible()"
    [style.backgroundColor]="toastType() === 'error' ? '#cf5148' : '#28a745'"
    [style.color]="'white'"
  >
    <c-toast-header>
     
      <span *ngIf="toastType() === 'success'">Succès</span>
      <span *ngIf="toastType() === 'error'">Erreur</span>
    </c-toast-header>
    <c-toast-body>
      <p>{{ toastMessage() }}</p>
      <c-progress thin [value]="percentage()" [color]="toastType() === 'error' ? 'warning' : 'success'"/>
    </c-toast-body>
  </c-toast>
</c-toaster>

<c-smart-table
  [activePage]="1"
  [columnSorter]="true"
  [columns]="columns"
  [columnFilter]="true"
  [itemsPerPageSelect]="true"
  [itemsPerPage]="5"
  [items]="medicamentsData"
  [sorterValue]="{ column: 'nom', state: 'asc' }"
  [tableFilter]="true"
  [tableProps]="{ hover: true, striped: true, responsive: true }"
  [tableBodyProps]="{ align: 'middle' }"
  cleaner
  clickableRows
  footer
  header
  pagination
>

  <ng-template cTemplateId="tableDetails" let-item="item">
    <div>
      <div [visible]="details_visible[item.id] === true" cCollapse>
        <div class="card-body">
          <h5>{{ item.nom }}</h5>
          <p class="text-muted">Description: {{ item.description }}</p>

        </div>
      </div>
    </div>
  </ng-template>

  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
    <td>
      @switch (columnName) {
        @case ('nbr_stock') {
          <form>
            <div class="mb-3">
              <input 
                id="medicamentStock_{{item.id}}" 
                cFormControl 
                [(ngModel)]="item.nbrStock" 
                name="nbrStock_{{item.id}}" 
                ngModelOptions="{standalone: true}"    
                class="form-control" 
                placeholder="{{item.nbr_stock}}" 
                required 
                type="number"
                (change)="updateStock(item, item.nbrStock)">
            </div>
          </form>
        }
        @case ('show') {
          <button (click)="toggleDetails(item.id)" cButton class="custom-btn" size="sm" variant="outline">
            Détails
          </button>
        }
        @case ('delete'){
          <button cButton class="ms-1" color="danger" size="sm" (click)="deleteMedicament(item.id)">
            Supprimer
          </button>
        }
        @default {
          {{ tdContent }}
        }
      }
    </td>
  </ng-template>
  
  
  
</c-smart-table>



<!--<button [cModalToggle]="fullScreen.id" cButton class="custom-btn">Ajouter médicament</button>


 Full Screen Modal 
<c-modal #fullScreen [fullscreen]="true" id="fullScreen">
  <c-modal-header>
    <h5 cModalTitle>Ajouter Médicament</h5>
    <button [cModalToggle]="fullScreen.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
     Add Medicament Form 
    <div class="modal-content">
      <div *ngIf="visible_alert" class="alert" [ngClass]="'alert-' + alertType">
        <svg *ngIf="alertType === 'success'" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
          <use xlink:href="#check-circle-fill" />
        </svg>
        <svg *ngIf="alertType === 'danger'" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Error:">
          <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>{{ alertMessage }}</div>
      </div>
    <form class="row g-5" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="medicamentName" class="form-label">Nom</label>
        <input id="medicamentName" 
               cFormControl 
               [(ngModel)]="medicament.nom" 
               name="nom" 
               class="form-control" 
               placeholder="Medicament Name" 
               required 
               type="text">
      </div>

      <div class="mb-3">
        <label for="medicamentExpiration" class="form-label">Date d'Expiration</label>
        <input id="medicamentExpiration" 
               cFormControl 
               [(ngModel)]="medicament.date_Exp" 
               name="date_Exp" 
               class="form-control" 
               placeholder="Expiration Date" 
               required 
               type="date">
      </div>

      <div class="mb-3">
        <label for="medicamentStock" class="form-label">Stock</label>
        <input id="medicamentStock" 
               cFormControl 
               [(ngModel)]="medicament.nbr_stock" 
               name="nbr_stock" 
               class="form-control" 
               placeholder="Number of Stock" 
               required 
               type="number">
      </div>

      <div class="mb-3">
        <label for="medicamentDescription" class="form-label">Description</label>
        <textarea id="medicamentDescription" 
                  cFormControl 
                  [(ngModel)]="medicament.description" 
                  name="description" 
                  class="form-control" 
                  placeholder="Description" 
                  required 
                  rows="3"></textarea>
      </div>

      <div class="mb-3">
        <label for="medicamentCompany" class="form-label">Fournisseur</label>
        <input id="medicamentCompany" 
               cFormControl 
               [(ngModel)]="medicament.compagnie" 
               name="compagnie" 
               class="form-control" 
               placeholder="Company Name" 
               required 
               type="text">
      </div>

       Submit Button 
      
<c-col [xs]="12" class="text-center mt-4">
  <button cButton type="submit" class="btn btn-primary px-4 py-2">Ajouter Médicament</button>
</c-col>
    </form>
  </div>
  </c-modal-body>
  <c-modal-footer>
    <button cButton class="custom-btn" [cModalToggle]="fullScreen.id">Fermer</button>
  </c-modal-footer>
</c-modal>-->



